# Runtime
pyautogui>=0.9
opencv-python>=4.9
pillow>=10
watchdog>=4
cryptography>=42
PyYAML>=6
numpy>=1.24
screeninfo
pytesseract>=0.3.10
matplotlib>=3.7
python-dotenv>=1.0.0
mss>=7.0
pyperclip>=1.8.2

# Tests / dev
pytest>=8
pywin32
